body {
    /*background-image: url("/app/static/pictures/bg.jpg");*/
    scroll-behavior: smooth;
    text-align: center;
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
    color:white;
}