{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistic Pitch-World</title>
</head>
<body>
    
    {% block content%}
    {% block styles %}
    
<link rel="stylesheet" href="../static/css/style.css">

{% endblock %}

<h1>One Minute Pitch</h1>
<p>In life, you only have 60 seconds to impress someone, 1 minute can make or break you.</p>
<p>How do we make sure that you use your 1 minute to actually say something meaningful?</p>
<br>
<a class="btn" href="./new_post"style="font-size:20px">New Pitch</a>
<br>
<a class="btn" href="/posts"style="font-size:20px">View Pitches</a>
{ %endblock% }
</body>
</html>
