{% extends 'base.html' %}
{% from 'pitch_display_macro.html' import display_pitches %}
{% block content%}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}
<div class="bg">
    <div class="p-3 p-md-5 m-md-3 text-center bg-transparent">
        <div class="col-md-12 p-lg-5 mx-auto my-5">
            <h3>"There's more than one way to do things.<br>There's always different points of views and styles of pitching."</h3>
            <h6>~Maryam Muchai~</h6>
            <br><br>
            <div id="buttons d-block mx-auto">
                <a class="btn btn-outline-secondary text-white" href= '/new_post/' style="font-size:40px">New Pitch</a>
                <a class="btn btn-outline-secondary text-white" href='/posts/' style="font-size:40px">View Pitches</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}