<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> One Minute Pitch</a>
        </div>

        <!--home-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
        </div>

        <!---Login-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Login</a></li>
        </div>
        
        <!--Profile-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Profile</a></li>
        </div>

        <!--Logout-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Logout</a></li>
        </div>

    </div>
</div>